@import './base.css';

#app {
  display: inline-block;
  min-height: 550px;
  font-weight: normal;
  border: 1px solid midnightblue;
  border-radius: 6px;
  margin: 15px;
  padding: 15px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
